
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
    border-radius: 15px;
}
li{
  list-style-type: none;
}
body {
  background-image: url(../Multimedia/img/fondo.jpg);
  background-repeat: round;
  background-attachment: fixed;
  font-family: 'Quicksand', sans-serif;
}
@import "scss/variables";
@import "scss/secciones";
@import "scss/estilos";
@import "scss/titulos";
@import "scss/responsive";


  
  